/* 
dark green = #3f461d; 
light green = #dce0c2;
medium green = #6e7544;
medium green2 = #989d79;
*/

body {
background-color:#dce0c2;
	font-family:raleway;
	font-weight:300;
	font-size:100%;
	}

.darkgreen {
	color: #3f461d;
	}

.lightgreen {
	color: #dce0c2;
	}
	
.mediumgreen {
	color: #6e7544;
	}
	
.mediumgreen2 {
	color:#989d79;
	}


#header { 
	height: 1em; 
	background-color: #3f461d;
	}

#logo {
	overflow:hidden;
	background-color:#dce0c2;
	}
	#logo div {
		margin:0 auto;
		text-align:center;
	}	
	#logo div a {
		display:block;
		margin:0 auto;
		}
	#logo div img {
		width:90px;
		height:126px;
		margin:0;
		}
	#logo div div span {
		font-size:1.8em;
		letter-spacing:.05em;
		font-family:'Raleway';
		font-weight:300;
		text-transform:uppercase;
	}

#nav {
	overflow:hidden;
	text-align:center;
	width:100%;
	margin:1em auto;
	background-color:#bec39e;
}

#nav ul {    
	padding: 0;
    list-style: none;
    position:relative;
    margin:0 auto;
    width:100%;
    display:inline-block;
}

#nav li {
	display:inline-block;
	padding:0;
	margin:0;
	}

#nav li a {
	color:#6e7544;
	font-weight:500;
	text-decoration:none;
	text-align:center;
	margin:0;
	display:block;
	padding:.5em .5em;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;

	text-transform:uppercase;

	}

#nav li a:hover {
    -moz-box-shadow: 0px -1px 6px 1px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px -1px 6px 1px rgba(0, 0, 0, 0.65);
    -o-box-shadow: 0px -1px 6px 1px rgba(0, 0, 0, 0.65);
    box-shadow: 0px -1px 6px 1px rgba(0, 0, 0, 0.65);
    }

#highlightedwork {
	background-color:#ffffff;
	-webkit-box-shadow: 0px .1em .5em #989d79;
	-moz-box-shadow: 0px .1em .5em #989d79;
	box-shadow: 0px .1em .5em #989d79;
	text-align:left;
	margin:0 1em;
	padding:1.5%;
	overflow:hidden;
}
	
	#highlightedwork header h2 {
	font-family:Kristi;
	color:#6e7544;
	font-weight:200;
	font-size:3em;
	padding:0;
	border-bottom:#dce0c2 1px solid;
	line-height:1em;
	letter-spacing:0em;
	}

	
	#highlightedwork div.project img {
		width:100%;
		height:auto;
		background-color: #dcdcdc;
		position: relative;
		z-index:30;
		}

 .thumb
{
  position: relative;
}
.thumb:before, .thumb:after
{
  z-index: 0;
  position: absolute;
  content: "";
  bottom: 20px;
  left: 5px;
  width: 49%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 15px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.thumb:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 5px;
  left: auto;
}

#highlightedwork div.project {
	margin-bottom:1em;
}

#highlightedwork div.thumb {
	margin:0;
	}

#highlightedwork  a {
text-decoration:none;
}

#highlightedwork div.project  h3  {
	margin-top:1%;
	margin-left:1%;
    text-transform:uppercase;
    color:#6e7544;
    letter-spacing:.09em;
    text-decoration:none;
	font-weight:500;
	font-size:.7em;
        }
        

#highlightedwork .responsibilities h5 {
	font-weight:700;
	font-size:.5em;
	letter-spacing:.1em;
	text-transform:uppercase;
	color:#6e7544;
	}
	

#portfolio {height: 50em }
#footer {
	position: relative;
	text-transform:uppercase;
    color:#6e7544;
    letter-spacing:1px;
    text-decoration:none;
    width:100%;
    text-align:center;
    margin-top:3em;
	font-weight:500;
    font-size:.7em;
  	margin-bottom:3em;
}

#footer div.contact {
	display:none;
	}
	
.work {
	margin:1em;
	border-bottom:1px solid #dce0c2;
	}

.work h2 {
	margin:1em 0;
	text-align:center;
}

.work p {
	margin: 0 0 1em 0;
	font-size:.9em;
	line-height:1.8em;
	font-weight:400;
	}

.responsibilities {
	border:1px solid #dcdcdc;
	padding:.2em;

	}
	
.description p {
	margin-top:1em;
	}
	
.responsibilities p {
	margin:0;
	font-size:.7em;
	font-weight:400;
	}

.company {
	position:relative;
	text-align:center;
	display:block;
	font-size:.7em;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-weight:600;
	}

.company:before {
	content: "\2015";
	letter-spacing:-2px;
	padding-right:5px;
	}
	
.company:after {
	content:"\2015";
	letter-spacing: -2px;
	padding-right:5px;
	}



@media screen and (min-width:500px) {
#highlightedwork div.project {
	width:48%;
	height:auto;
	position:relative;
	float:left;
	margin:0 1% 2em 1%;
	}
	
.work { 
	padding:2em 0 2em 0;
}

.work img {
	text-align:center;
	width:100%;
	}


}
@media screen and (min-width: 950px) {
#logo {
	width:950px;
	margin:0 auto;
		}

#highlightedwork div.project {
	margin:0;
	}

	#logo div {
		text-align:left;
	}	
	
	#logo div a {
		display:block;
		margin:0 auto;
		}

	#logo div img {
		width:100px;
		height:140px;
		float:left;
		margin-right:1em;
		}


	#logo div div {
		position:relative;
		top:1.5em;
		}
		
	#logo div div span {
		float:left;
		font-size:3em;
		width:auto;
		}

#nav {
	width:auto;
	float:right;
	background-color:transparent;
	height:100%;
	position:relative;
	top:1.3em;
	}

#highlightedwork {
	width:920px;
	margin: 1em auto;
	padding:10px;
	}
	
#highlightedwork h2 {
	padding:10px;
		}

#highlightedwork div.project {
	max-width:286px;
	height:auto;
	float:left;
	padding: 10px;
	display:inline-block;
}

#highlightedwork div.project img {
	height:auto;
	}
	
	#footer div {
	display:inline;
	height:50px;
	padding:0 1em;
	border-right:1px solid #6e7544;
	}

#footer div:last-child {
	border-right:none;
	}
		
#footer div.contact {
	display:inline;
	}	
#footer a {
        text-transform:uppercase;
        color:#6e7544;
        text-decoration:none;
        font-weight:700;
        letter-spacing:2px;
}

#footer a:hover {
        border-bottom:1px solid #6e7544;
}

.work {
	margin:.5em;
	overflow:hidden;
	}

.work img {
	width:70%;
	float:left;
	}

.company {
	padding:0;
	margin:0 0 .3em 0;
	position:relative;
	text-align:left;
	color:darkgrey;
	
	}

.company:before {
	content: "";
	letter-spacing:-2px;
	padding-right:5px;
	}
	
.company:after {
	content:"";
	letter-spacing: -2px;
	padding-right:5px;
	}

.work h2 {
	padding:0;
	margin:0;
	float:right;	
	text-align:left;
	width:27%;
	}
	
.responsibilities {
	margin:0;
	}

.responsibilities p {
	padding:0;
	margin:0;
	line-height:1.2em;
	}	

.description { 
	float:right;
	width:28%;
	}

}

