body {
  background: rgba(0, 0, 0, 0.06);
  font-size: 13px;
  color: #333;
  font-family:LatoLight;
}


div#container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 20px solid #FAFAFA;
  max-width: 800px;
  margin: 50px auto;
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
}

div#container div#outline {
  border:1px solid #eee;
  padding:15px;
}


header {
  display:block;
  margin-bottom: 3em;

 ul {
  margin-top:.5em;
  }

 ul li {
  display:inline;
  margin-right: 1em;
  }

 ul li:after {
  content: '//';
  padding-left: 1em;
  color: #AAA;
 }

 ul li:last-child:after{
  content: '';
 }

  h1 {
   font-size: 4em;
   display: inline;
   font-weight:normal;
   font-family:LatoBlack;
  }
}

h3 {
  font-family:LatoBold, Arial, Sans-serif;
  color:#fff;
  font-size:2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-color: #17a09e;
  margin:0 -25px 0.6em;
  position: relative;
  padding: 0.3em 1em;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
  -moz-transition-property: all;
  -webkit-transition-property:all;
  -o-transition-property:all;
  transition-property: all;
  -moz-transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.25) inset;
  -o-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.25) inset;
  box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.25) inset;

  &:after, .after {
    display:block;
    content: ' ';
    position: absolute;
    left:0px;
    bottom:-11px;
    width:0px;
    height:0px;
    border:5px solid transparent;
    border-top-color:#1ecdca;
    border-right-color:#1ecdca;
    -moz-transition-property:all;
    -webkit-transition-property:all;
    -o-transition-property:all;
    transition-property: all;
    -moz-transition-duration: 800ms;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
  }

  &:before, .before {
      content: ' ';
      position: absolute;
      right:0px;
      bottom: -11px;
      width:0px;
      height:0px;
      border: 5px solid transparent;
      border-top-color:#1ecdca;
      border-left-color:#1ecdca;
      -moz-transition-property: all;
 -webkit-transition-property: all;
 -o-transition-property: all;
 transition-property: all;
 -moz-transition-duration: 800ms;
 -webkit-transition-duration: 800ms;
 -o-transition-duration: 800ms;
 transition-duration: 800ms;
  }

  .after, .before {
    z-index:101;
  }


}


section {
  margin-bottom:3em;
  
 &:last-child {
      margin-bottom:0;
      border-bottom:none;
  }

 &:hover h3 {
    background-color: #b20101;
  }

  &:hover h3:after, &:hover h3 .after {
    border-top-color: #e50101;
    border-right-color:#e50101;
  }

  &:hover h3:before, &:hover h3 .before {
    border-top-color:#e50101;
    border-left-color:#e50101;
  }

  a.offsite {
    font-size: .9em;
    display:block;
    text-align:right;
  }

  a.offsite:after {
    content: ' \2192';
  }

  > ul > li {
    padding-bottom:1.5em;
    margin-bottom:1.5em;
    line-height: 1.4em;
    border-bottom:1px dashed #ddd;
  }

}
