body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,hr {
	margin:0;
	padding:0;
}


body {
	height:100%;
	background: #dce0c2;
	text-align:center;
	
	}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	color:#6e7544
}

body, select, input, button, textarea {
	font: 14px/24px 'Century Gothic', Univers,'Lucida Grande', Verdana, sans-serif;
}
#top {
	padding-left: 1.5em;
	padding-right: 1.5em;
	min-width: 960px;}

/* top bar */
 #top	{
	position: relative;
	background: #dce0c2 url('/img/top-bg.png') repeat-x;
	padding-top:20px;
	padding-bottom:20px;
	overflow: hidden;
	clear: both;
}


#nav {
	text-align:left;
	width:960px;
	margin:0 auto;
	height:155px;
}

#nav ul {
        display:block;
	float:right;
	margin:20px 40px 0 0;
}

#nav li {
        position: relative;
        height: 29px;
        margin-top:15px;
        margin-left:15px;
        float: right;
        list-style-type:none;
}
#nav li a {
        display: block;
        padding: 8px 9px;
        height: 12px;
	text-transform:uppercase;
	color:#6e7544;
	letter-spacing:2px;
	text-decoration:none;
	font-size:12px;
}

#nav a:hover {

	border-bottom:1px solid #6e7544;
}

.footer a {
        height: 12px;
        text-transform:uppercase;
        color:#6e7544;
        text-decoration:none;
}

.footer a:hover {

        border-bottom:1px solid #6e7544;
}




/* main */


#main {
        -webkit-box-shadow: 0px 3px 15px #989d79;
	-moz-box-shadow: 0px 3px 15px #989d79;
	text-align:left;
        width:930px;
        margin:0 auto -20px;
	padding:10px;
	background-color:#fff;
	height: 100%;
}


#port {
	width:280px;
	height:190px;
	display:block;
	margin:13px;
	float:left;
}

#port p {
	margin-top:-13px;
        text-transform:uppercase;
        color:#6e7544;
        letter-spacing:1px;
        text-decoration:none;
        font-size:11px;
}

#port a:hover {
	background-position: -295px 0;
}

.p1 a {
        display:block;
        width:295px;
        height:170px;
        background: transparent url('img/TN-ac-joy.png') no-repeat;
}

.p2 a {
	display: block;
	width: 295px;
	height: 170px;
	background: transparent url('img/TN-ats-mc.png') no-repeat;
}

.p3 a {
	display: block;
	width: 295px;
	height: 170px;
	background: transparent url('img/TN-f-townhall.png') no-repeat;
}

.p4 a {
        display:block;
        width:295px;
        height:170px;
        background: transparent url('img/TN-cana-web.png') no-repeat;
}

.p5 a {
        display: block;
        width: 295px;
        height: 170px;
        background: transparent url('img/TN-f-rhino.png') no-repeat;
}

.p6 a {
        display: block;
        width: 295px;
        height: 170px;
        background: transparent url('img/TN-40d-web.png') no-repeat;
}








/* footer */
.footer {
	
position: relative;
	margin: 0  auto;
	padding-top:55px;
	text-transform:uppercase;
        color:#6e7544;
        letter-spacing:1px;
        text-decoration:none;
        font-size:11px;

}






	




#resume {
	margin:13px;
	width:800px;
}

#resume p {
	font-family: 'century gothic', arial, sans-serif;
	font-size:12px; color: slate;
	margin-bottom:15px;
}

#resume ul {
	list-style-type: square;
	margin-left:30px;
        font-family: 'century gothic', arial, sans-serif;
        font-size:12px; color: slate;
	width:500px;

}

#resume h3 {
	padding:5px;
	background-color:#efefef;
}
